nav {
  padding: 15px 30px;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: white;
  margin: 5px;
  font-size: 20px;
}
.nav-link:hover {
  color: gray;
}

.active {
  color: black;
}

.nav-account-div {
  padding-right: 60px;
}
