<div class="back-and-header">
    <a routerLink="/hotel-managment" class="go-back-btn">Go Back</a>
    <h1>{{hotelToShow?.name}}</h1>
</div>

<div class="rooms-div">
    <div *ngFor="let room of hotelToShow?.rooms" class="room-div">
        <div class="room-img-and-text">
            <div class="room-img-and-text-big-width">
                <img src={{room.image}} class="room-image" alt="">
                <div class="room-text">
                    <h2 class="room-h">{{room.name}}</h2>
                    <p class="room-price">{{room.price | currency}}</p>
                    <p [ngClass]="room.isAvailable ? 'available' : 'not-avaiable'">{{room.isAvailable ? "Available" :
                        'Not Avaiable'}}</p>
                    <p>persons: {{room.persons}}; children {{room.children}}</p>
                    <div class="description-and-ameneties big-width">
                        <p class="room-description">{{room.description}}</p>
                        <p><b>ameneties: {{room.amenities}}</b></p>
                    </div>
                </div>
            </div>

            <div class="description-and-ameneties small-width">
                <p class="room-description">{{room.description}}</p>
                <p><b>ameneties: {{room.amenities}}</b></p>
            </div>
        </div>

        <div *ngIf="(isLoggedIn$ | async)" class="btn-div">
            <a [routerLink]="['/room-form',hotelToShow?.id,room.id]" class="add-btn room-btn">Edit Room</a>
            <button (click)="onDelete(room.id)" class="delete-btn room-btn">Delete</button>
        </div>

    </div>

    <h1 *ngIf="hotelToShow?.rooms?.length == 0">There are currently no rooms</h1>
</div>