<div class="hotel-managment-div">
    <div *ngFor="let hotel of (hotels$ | async)" class="hotel-div">
        <a [routerLink]="['/hotel-details', hotel.id]">
            <h1>{{hotel.name}}</h1>
            <p>location: {{hotel.address}}<br> {{hotel.city}}-{{hotel.country}}</p>
            <p>stars: {{hotel.stars}}</p>
            <img src={{hotel.image}} alt="" class="hotel-image">
        </a>
        <div class="btn-div">
            <a [routerLink]="['/hotel-form',hotel.id]" class="edit-btn hotel-btn">Edit</a>
            <button class="delete-btn hotel-btn" (click)="onDelete(hotel.id)">Delete</button>
            <a [routerLink]="['/room-form',hotel.id]" class="add-btn hotel-btn">Add Room</a>
        </div>
    </div>

    <h1 *ngIf="(hotels$ | async)?.length === 0">There are currently no hotels </h1>


</div>