<main>

    <div class="hotels" *ngIf="(hotels$ |async)?.length !=0">
        <div class="filters">
            <input type="text" class="search-input" [value]="searchTerm" (keyup)="onKeyUp($event)"
                placeholder="Search hotels...">

            <div class="search-filter">
                <label for="isRoomAvailable">Available Rooms:</label>
                <input type="checkbox" name="isRoomAvailable" id="isRoomAvailable" [checked]="roomsAvailableFilter"
                    (change)="changeRoomsAvailableFilter($event)">
            </div>
        </div>
        <div class="hotel-managment-div">
            <div *ngFor="let hotel of (hotels$ | async)" class="hotel-div">
                <a class="hotel-link" [routerLink]="['/hotel-details', hotel.id]">
                    <img src={{hotel.image}} alt="" class="hotel-image">
                    <div class="hotel-link-text">
                        <h1 class="hotel-name">{{hotel.name}}</h1>
                        <igc-rating name="modelRating" [value]="hotel.stars" max="5" class="stars"></igc-rating>
                        <p>location: {{hotel.address}}<br> {{hotel.city}}-{{hotel.country}}</p>
                        <p class="rooms-available"
                            [ngClass]="getAvailableRooms(hotel.rooms) > 0 ? 'available' : 'not-available'">Rooms
                            available:
                            {{getAvailableRooms(hotel.rooms)}}</p>
                        <p class="hotel-description big-width">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nostrum
                            consequatur porro magnam corporis! Nostrum, optio, asperiores laborum distinctio pariatur
                            velit
                            odio
                            illo voluptas error eos porro eum cupiditate cum iure.</p>
                    </div>
                </a>

                <p class="hotel-description small-width">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nostrum
                    consequatur porro magnam corporis! Nostrum, optio, asperiores laborum distinctio pariatur
                    velit
                    odio
                    illo voluptas error eos porro eum cupiditate cum iure.</p>

                <div *ngIf="(isLoggedIn$ | async)" class="btn-div">
                    <a [routerLink]="['/hotel-form',hotel.id]" class="edit-btn hotel-btn">Edit</a>
                    <a [routerLink]="['/room-form',hotel.id]" class="add-btn hotel-btn">Add Room</a>
                    <button class="delete-btn hotel-btn" (click)="onDelete(hotel.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</main>


<div *ngIf="(hotels$ | async)?.length == 0" class="no-hotels-div">
    <h1>There are currently no hotels</h1>
    <img class="gif" src="https://media.tenor.com/_BiwWBWhYucAAAAC/what-huh.gif" alt="">
</div>