.hotels {
  width: 80%;
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
}

.hotel-managment-div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 80%;
}

.filters {
  width: 18%;
  background-color: #00ffff;
  height: fit-content;
}

.hotel-div {
  padding: 15px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-link {
  display: flex;
  gap: 15px;
}

.hotel-btn {
  border: 1px solid black;
  cursor: pointer;
  color: white;
  padding: 8px;
  width: 100%;
  text-align: center;
}

.hotel-image {
  width: 300px;
  height: 100%;
  border-radius: 8px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 15%;
}

.hotel-name {
  color: blue;
}

.hotel-name:hover {
  color: black;
}

.stars {
  color: yellow;
}

.hotel-description {
  margin-top: 15px;
}

.available {
  color: green;
}
.not-available {
  color: red;
}
